In [5]:
import pandas as pd
import re

In [6]:
df = pd.read_csv(r"D:\text data\Combined Data.csv")

In [7]:
df

       Unnamed: 0                                          statement   status
0               0                                         oh my gosh  Anxiety
1               1  trouble sleeping, confused mind, restless hear...  Anxiety
2               2  All wrong, back off dear, forward doubt. Stay ...  Anxiety
3               3  I've shifted my focus to something else but I'...  Anxiety
4               4  I'm restless and restless, it's been a month n...  Anxiety
...           ...                                                ...      ...
53038       53038  Nobody takes me seriously I’ve (24M) dealt wit...  Anxiety
53039       53039  selfishness  "I don't feel very good, it's lik...  Anxiety
53040       53040  Is there any way to sleep better? I can't slee...  Anxiety
53041       53041  Public speaking tips? Hi, all. I have to give ...  Anxiety
53042       53042  I have really bad door anxiety! It's not about...  Anxiety

[53043 rows x 3 columns]

In [8]:
df = df.drop("Unnamed: 0",axis = 1)

In [10]:
df

                                               statement   status
0                                             oh my gosh  Anxiety
1      trouble sleeping, confused mind, restless hear...  Anxiety
2      All wrong, back off dear, forward doubt. Stay ...  Anxiety
3      I've shifted my focus to something else but I'...  Anxiety
4      I'm restless and restless, it's been a month n...  Anxiety
...                                                  ...      ...
53038  Nobody takes me seriously I’ve (24M) dealt wit...  Anxiety
53039  selfishness  "I don't feel very good, it's lik...  Anxiety
53040  Is there any way to sleep better? I can't slee...  Anxiety
53041  Public speaking tips? Hi, all. I have to give ...  Anxiety
53042  I have really bad door anxiety! It's not about...  Anxiety

[53043 rows x 2 columns]

In [9]:
df.dropna(inplace = True)

## data preprocessing

In [10]:
df['statement'].str.lower()   ## lower case

0                                               oh my gosh
1        trouble sleeping, confused mind, restless hear...
2        all wrong, back off dear, forward doubt. stay ...
3        i've shifted my focus to something else but i'...
4        i'm restless and restless, it's been a month n...
                               ...
53038    nobody takes me seriously i’ve (24m) dealt wit...
53039    selfishness  "i don't feel very good, it's lik...
53040    is there any way to sleep better? i can't slee...
53041    public speaking tips? hi, all. i have to give ...
53042    i have really bad door anxiety! it's not about...
Name: statement, Length: 52681, dtype: object

In [11]:
df

                                               statement   status
0                                             oh my gosh  Anxiety
1      trouble sleeping, confused mind, restless hear...  Anxiety
2      All wrong, back off dear, forward doubt. Stay ...  Anxiety
3      I've shifted my focus to something else but I'...  Anxiety
4      I'm restless and restless, it's been a month n...  Anxiety
...                                                  ...      ...
53038  Nobody takes me seriously I’ve (24M) dealt wit...  Anxiety
53039  selfishness  "I don't feel very good, it's lik...  Anxiety
53040  Is there any way to sleep better? I can't slee...  Anxiety
53041  Public speaking tips? Hi, all. I have to give ...  Anxiety
53042  I have really bad door anxiety! It's not about...  Anxiety

[52681 rows x 2 columns]

In [12]:
df

                                               statement   status
0                                             oh my gosh  Anxiety
1      trouble sleeping, confused mind, restless hear...  Anxiety
2      All wrong, back off dear, forward doubt. Stay ...  Anxiety
3      I've shifted my focus to something else but I'...  Anxiety
4      I'm restless and restless, it's been a month n...  Anxiety
...                                                  ...      ...
53038  Nobody takes me seriously I’ve (24M) dealt wit...  Anxiety
53039  selfishness  "I don't feel very good, it's lik...  Anxiety
53040  Is there any way to sleep better? I can't slee...  Anxiety
53041  Public speaking tips? Hi, all. I have to give ...  Anxiety
53042  I have really bad door anxiety! It's not about...  Anxiety

[52681 rows x 2 columns]

In [13]:
df['statement'] = df['statement'].str.lower()

In [14]:
import emoji

In [15]:
df['statement'] = df['statement'].apply(lambda x : emoji.demojize(x).replace(':',''))

In [20]:
def eda(data,column):
    count = 0
    count = data[column].apply(lambda x: count + emoji.emoji_count(x)).sum()  #emoji count in the data
    upper =data[column].str.isupper().sum()
    url = data[column].apply(lambda x:   True  if re.search(r'www.\S+ | https?://\S+',x)  else False).sum()
    tags = data[column].apply(lambda x:   True  if re.search(r'<[^>]>+',x)  else False).sum()
    marks = data[column].apply(lambda x:   True  if re.search(r'[^a-zA-Z0-9 ]',x)  else False).sum()
    digits = data[column].apply(lambda x:   True  if re.search(r'[0-9]',x)  else False).sum()
    return  pd.Series({'Emoji':count,"upper case":upper,"urls" : url,"HTML tags":tags,'Punctuaton':marks,'Digits':digits})

In [21]:
eda(df,'statement')

Emoji         0
upper case    0
urls          0
HTML tags     0
Punctuaton    0
Digits        0
dtype: int64

In [16]:
df['statement'] = df['statement'].apply(lambda x :  re.sub(r'[^a-zA-Z0-9]',' ',x)) ## punctuations

In [17]:
df

                                               statement   status
0                                             oh my gosh  Anxiety
1      trouble sleeping  confused mind  restless hear...  Anxiety
2      all wrong  back off dear  forward doubt  stay ...  Anxiety
3      i ve shifted my focus to something else but i ...  Anxiety
4      i m restless and restless  it s been a month n...  Anxiety
...                                                  ...      ...
53038  nobody takes me seriously i ve  24m  dealt wit...  Anxiety
53039  selfishness   i don t feel very good  it s lik...  Anxiety
53040  is there any way to sleep better  i can t slee...  Anxiety
53041  public speaking tips  hi  all  i have to give ...  Anxiety
53042  i have really bad door anxiety  it s not about...  Anxiety

[52681 rows x 2 columns]

In [18]:
df['statement'] = df['statement'].apply(lambda x :re.sub(r'[0-9]','',x))

In [19]:
df['statement'] = df['statement'].apply(lambda x :re.sub(r'www.\S+ | https?://\S+','',x)) ## urls

In [51]:
df.to_csv('forcolab.csv')

0                                               oh my gosh
1        trouble sleeping  confused mind  restless hear...
2        all wrong  back off dear  forward doubt  stay ...
3        i ve shifted my focus to something else but i ...
4        i m restless and restless  it s been a month n...
                               ...
53038    nobody takes me seriously i ve  m  dealt with ...
53039    selfishness   i don t feel very good  it s lik...
53040    is there any way to sleep better  i can t slee...
53041    public speaking tips  hi  all  i have to give ...
53042    i have really bad door anxiety  it s not about...
Name: statement, Length: 52681, dtype: object

In [22]:
df

                                               statement   status
0                                             oh my gosh  Anxiety
1      trouble sleeping  confused mind  restless hear...  Anxiety
2      all wrong  back off dear  forward doubt  stay ...  Anxiety
3      i ve shifted my focus to something else but i ...  Anxiety
4      i m restless and restless  it s been a month n...  Anxiety
...                                                  ...      ...
53038  nobody takes me seriously i ve  m  dealt with ...  Anxiety
53039  selfishness   i don t feel very good  it s lik...  Anxiety
53040  is there any way to sleep better  i can t slee...  Anxiety
53041  public speaking tips  hi  all  i have to give ...  Anxiety
53042  i have really bad door anxiety  it s not about...  Anxiety

[52681 rows x 2 columns]

                                               statement   status
0                                         [oh, my, gosh]  Anxiety
1      [trouble, sleeping, confused, mind, restless, ...  Anxiety
2      [all, wrong, back, off, dear, forward, doubt, ...  Anxiety
3      [i, ve, shifted, my, focus, to, something, els...  Anxiety
4      [i, m, restless, and, restless, it, s, been, a...  Anxiety
...                                                  ...      ...
53038  [nobody, takes, me, seriously, i, ve, m, dealt...  Anxiety
53039  [selfishness, i, don, t, feel, very, good, it,...  Anxiety
53040  [is, there, any, way, to, sleep, better, i, ca...  Anxiety
53041  [public, speaking, tips, hi, all, i, have, to,...  Anxiety
53042  [i, have, really, bad, door, anxiety, it, s, n...  Anxiety

[52681 rows x 2 columns]

## BOW

In [22]:
df['statement']

0                                               oh my gosh
1        trouble sleeping  confused mind  restless hear...
2        all wrong  back off dear  forward doubt  stay ...
3        i ve shifted my focus to something else but i ...
4        i m restless and restless  it s been a month n...
                               ...
53038    nobody takes me seriously i ve  m  dealt with ...
53039    selfishness   i don t feel very good  it s lik...
53040    is there any way to sleep better  i can t slee...
53041    public speaking tips  hi  all  i have to give ...
53042    i have really bad door anxiety  it s not about...
Name: statement, Length: 52681, dtype: object

In [25]:
 from sklearn.feature_extraction.text import CountVectorizer

bow = CountVectorizer(stop_words='english')

bow.fit(df1['statement'])
X = bow.transform(df1['statement']).toarray()
y = df1['status']

In [24]:
df1=df.sample(10000)

## prediction

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=23)

In [28]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [29]:
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.6285

## pickling

In [30]:
import pickle

In [31]:
pickle.dump(dt,open('mh.pkl','wb')) #writing as a binary format

In [32]:
model = pickle.load(open('mh.pkl','rb'))

In [33]:
pickle.dump(bow,open('bow1.pkl','wb'))

In [34]:
bow = pickle.load(open('bow1.pkl','rb'))

In [35]:
df1

                                               statement      status
29284   url  if you are curious  that is a picture of...      Normal
30555                             so what was the score       Normal
28715  since then i ve met some  wrong ones   i mean ...      Normal
49489  chicken or the egg  discussion  hi everyone   ...     Bipolar
20347             or i will not i will tell you my story    Suicidal
...                                                  ...         ...
53016  dog walking  animal shelter  anxiety reduction...     Anxiety
29727  hello  as is probably always the case  i have ...      Stress
43150  just saw little and huge stingray in foot deep...      Normal
2500                              eu  lo de jyp es joda       Normal
19536  is anyone else just like full blown depressed ...  Depression

[10000 rows x 2 columns]

In [37]:
df['statement'][30555]

'so what was the score '

In [38]:
df['statement'][49489]

'chicken or the egg  discussion  hi everyone    i have a question that has been occupying my mind for a long time  and i hope that this will spark a discussion and we can get deeper into understanding bipolar and find some answers  maybe some of you are wondering the same   the question mostly during manic episodes when my mind is racing at an alarming pace i wonder if this is all caused after all by external factors that make me stressed out or by the bipolar itself  so from within  like  i m starting to stress out because a situation occurs that is out of my control turmoil in a relationship  some annoying interactions  things at work etc  or i start stressing out because of a shift towards manic    this is where i m lost at times i think that because of the diagnosis i overthink the stress and anxious feelings  knowing and convinced about my diagnosis i fully inserted bipolar behavior into my own identity and it informs my actions  but we don t live in a sterile bubble  life is life and always something is happening    for context  during my manic state i start pacing  mind racing  increaced heart rate  twitches and intrusive thoughts  i start walking fast through streets almost running away from this  and i end up looking into passerbys eyes and then it s as if i m being thrown into their lives  as if i live through their experience  i imagine how they act  what happened in their childhood  flashes into their daily routine  interactions  frustrations and happiness  and then i look at a window on some far away building  start imagining and experiencing the life of another person in a similar way   then i get thrown back into my body into reality and become more overwhelmed  then it s my own memories of the past  then imagining my own future and so on      the experience is intense and doesn t stop  when it wears off eventually i regain focus  calm and ability to think clearer  happens periodically about every few months and lasts usually about a week  maybe  depending how i deal with it after the peak  it s not the most intense that happened but i don t wanna go in even more details  because this is already tl dr   edit i have been diagnosed by different doctors on  separate occasions  and rejected that idea for about  years until it became too unbearable and i was legit worried that this time i m definitely not making it through     so let s discuss the initial question  would love to hear your thoughts about this chicken or the egg question and gain some insights '

In [39]:
df['statement'][20347]

'or i will not i will tell you my story'

In [42]:
df['statement'][29727]

'hello  as is probably always the case  i have no idea how to start this post  my girlfriend of the past year asked me to sit and talk to her yesterday where she opened up and told me how the relationship had run its course and how there was no chance it could be saved  i have known something wasn t quite right for a while and should have made efforts to make changes long before now  we are still going to remain friends as best we can until the tenancy on our flat runs out '